appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.1
Django==3.1.4
django-cors-headers==3.6.0
django-extensions==3.1.0
django-rest-swagger==2.2.0
djangorestframework==3.12.2
drf-spectacular==0.12.0
drf-yasg==1.20.0
filelock==3.0.12
idna==2.10
inflection==0.5.1
isort==5.7.0
itypes==1.2.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
openapi-codec==1.3.2
packaging==20.9
pipenv==2020.11.15
psycopg2==2.8.6
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytz==2020.4
PyYAML==5.3.1
requests==2.25.1
ruamel.yaml==0.16.12
simplejson==3.17.2
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.3
virtualenv==20.2.2
virtualenv-clone==0.5.4
wrapt==1.12.1
