/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BackEndAPI } from "../backEndAPI";
import {
  CandidatesListResponse,
  Candidate,
  CandidatesCreateResponse,
  CandidatesReadResponse,
  CandidatesUpdateResponse,
  CandidatesPartialUpdateResponse
} from "../models";

/**
 * Class representing a Candidates.
 */
export class Candidates {
  private readonly client: BackEndAPI;

  /**
   * Initialize a new instance of the class Candidates class.
   * @param client Reference to the service client
   */
  constructor(client: BackEndAPI) {
    this.client = client;
  }

  /**
   * @param options The options parameters.
   */
  list(options?: coreHttp.OperationOptions): Promise<CandidatesListResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { options: operationOptions },
      listOperationSpec
    ) as Promise<CandidatesListResponse>;
  }

  /**
   * @param data
   * @param options The options parameters.
   */
  create(
    data: Candidate,
    options?: coreHttp.OperationOptions
  ): Promise<CandidatesCreateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { data, options: operationOptions },
      createOperationSpec
    ) as Promise<CandidatesCreateResponse>;
  }

  /**
   * @param id A unique integer value identifying this candidate.
   * @param options The options parameters.
   */
  read(
    id: number,
    options?: coreHttp.OperationOptions
  ): Promise<CandidatesReadResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      readOperationSpec
    ) as Promise<CandidatesReadResponse>;
  }

  /**
   * @param id A unique integer value identifying this candidate.
   * @param data
   * @param options The options parameters.
   */
  update(
    id: number,
    data: Candidate,
    options?: coreHttp.OperationOptions
  ): Promise<CandidatesUpdateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, data, options: operationOptions },
      updateOperationSpec
    ) as Promise<CandidatesUpdateResponse>;
  }

  /**
   * @param id A unique integer value identifying this candidate.
   * @param data
   * @param options The options parameters.
   */
  partialUpdate(
    id: number,
    data: Candidate,
    options?: coreHttp.OperationOptions
  ): Promise<CandidatesPartialUpdateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, data, options: operationOptions },
      partialUpdateOperationSpec
    ) as Promise<CandidatesPartialUpdateResponse>;
  }

  /**
   * @param id A unique integer value identifying this candidate.
   * @param options The options parameters.
   */
  delete(
    id: number,
    options?: coreHttp.OperationOptions
  ): Promise<coreHttp.RestResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      deleteOperationSpec
    ) as Promise<coreHttp.RestResponse>;
  }
}
// Operation Specifications

const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const listOperationSpec: coreHttp.OperationSpec = {
  path: "/candidates/",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "Candidate" } }
        }
      }
    }
  },
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreHttp.OperationSpec = {
  path: "/candidates/",
  httpMethod: "POST",
  responses: {
    201: {
      bodyMapper: Mappers.Candidate
    }
  },
  requestBody: Parameters.data,
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const readOperationSpec: coreHttp.OperationSpec = {
  path: "/candidates/{id}/",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Candidate
    }
  },
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreHttp.OperationSpec = {
  path: "/candidates/{id}/",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Candidate
    }
  },
  requestBody: Parameters.data,
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const partialUpdateOperationSpec: coreHttp.OperationSpec = {
  path: "/candidates/{id}/",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.Candidate
    }
  },
  requestBody: Parameters.data,
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreHttp.OperationSpec = {
  path: "/candidates/{id}/",
  httpMethod: "DELETE",
  responses: { 204: {} },
  urlParameters: [Parameters.$host, Parameters.id],
  serializer
};
