/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BackEndAPI } from "../backEndAPI";
import {
  ClientsListResponse,
  Client,
  ClientsCreateResponse,
  ClientsReadResponse,
  ClientsUpdateResponse,
  ClientsPartialUpdateResponse
} from "../models";

/**
 * Class representing a Clients.
 */
export class Clients {
  private readonly client: BackEndAPI;

  /**
   * Initialize a new instance of the class Clients class.
   * @param client Reference to the service client
   */
  constructor(client: BackEndAPI) {
    this.client = client;
  }

  /**
   * @param options The options parameters.
   */
  list(options?: coreHttp.OperationOptions): Promise<ClientsListResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { options: operationOptions },
      listOperationSpec
    ) as Promise<ClientsListResponse>;
  }

  /**
   * @param data
   * @param options The options parameters.
   */
  create(
    data: Client,
    options?: coreHttp.OperationOptions
  ): Promise<ClientsCreateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { data, options: operationOptions },
      createOperationSpec
    ) as Promise<ClientsCreateResponse>;
  }

  /**
   * @param id A unique integer value identifying this client.
   * @param options The options parameters.
   */
  read(
    id: number,
    options?: coreHttp.OperationOptions
  ): Promise<ClientsReadResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      readOperationSpec
    ) as Promise<ClientsReadResponse>;
  }

  /**
   * @param id A unique integer value identifying this client.
   * @param data
   * @param options The options parameters.
   */
  update(
    id: number,
    data: Client,
    options?: coreHttp.OperationOptions
  ): Promise<ClientsUpdateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, data, options: operationOptions },
      updateOperationSpec
    ) as Promise<ClientsUpdateResponse>;
  }

  /**
   * @param id A unique integer value identifying this client.
   * @param data
   * @param options The options parameters.
   */
  partialUpdate(
    id: number,
    data: Client,
    options?: coreHttp.OperationOptions
  ): Promise<ClientsPartialUpdateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, data, options: operationOptions },
      partialUpdateOperationSpec
    ) as Promise<ClientsPartialUpdateResponse>;
  }

  /**
   * @param id A unique integer value identifying this client.
   * @param options The options parameters.
   */
  delete(
    id: number,
    options?: coreHttp.OperationOptions
  ): Promise<coreHttp.RestResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      deleteOperationSpec
    ) as Promise<coreHttp.RestResponse>;
  }
}
// Operation Specifications

const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const listOperationSpec: coreHttp.OperationSpec = {
  path: "/clients/",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "Client" } }
        }
      }
    }
  },
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreHttp.OperationSpec = {
  path: "/clients/",
  httpMethod: "POST",
  responses: {
    201: {
      bodyMapper: Mappers.Client
    }
  },
  requestBody: Parameters.data1,
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const readOperationSpec: coreHttp.OperationSpec = {
  path: "/clients/{id}/",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Client
    }
  },
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreHttp.OperationSpec = {
  path: "/clients/{id}/",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Client
    }
  },
  requestBody: Parameters.data1,
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const partialUpdateOperationSpec: coreHttp.OperationSpec = {
  path: "/clients/{id}/",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.Client
    }
  },
  requestBody: Parameters.data1,
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreHttp.OperationSpec = {
  path: "/clients/{id}/",
  httpMethod: "DELETE",
  responses: { 204: {} },
  urlParameters: [Parameters.$host, Parameters.id],
  serializer
};
