/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BackEndAPI } from "../backEndAPI";
import {
  TodosListResponse,
  Todo,
  TodosCreateResponse,
  TodosReadResponse,
  TodosUpdateResponse,
  TodosPartialUpdateResponse
} from "../models";

/**
 * Class representing a Todos.
 */
export class Todos {
  private readonly client: BackEndAPI;

  /**
   * Initialize a new instance of the class Todos class.
   * @param client Reference to the service client
   */
  constructor(client: BackEndAPI) {
    this.client = client;
  }

  /**
   * @param options The options parameters.
   */
  list(options?: coreHttp.OperationOptions): Promise<TodosListResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { options: operationOptions },
      listOperationSpec
    ) as Promise<TodosListResponse>;
  }

  /**
   * @param data
   * @param options The options parameters.
   */
  create(
    data: Todo,
    options?: coreHttp.OperationOptions
  ): Promise<TodosCreateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { data, options: operationOptions },
      createOperationSpec
    ) as Promise<TodosCreateResponse>;
  }

  /**
   * @param id A unique integer value identifying this todo.
   * @param options The options parameters.
   */
  read(
    id: number,
    options?: coreHttp.OperationOptions
  ): Promise<TodosReadResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      readOperationSpec
    ) as Promise<TodosReadResponse>;
  }

  /**
   * @param id A unique integer value identifying this todo.
   * @param data
   * @param options The options parameters.
   */
  update(
    id: number,
    data: Todo,
    options?: coreHttp.OperationOptions
  ): Promise<TodosUpdateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, data, options: operationOptions },
      updateOperationSpec
    ) as Promise<TodosUpdateResponse>;
  }

  /**
   * @param id A unique integer value identifying this todo.
   * @param data
   * @param options The options parameters.
   */
  partialUpdate(
    id: number,
    data: Todo,
    options?: coreHttp.OperationOptions
  ): Promise<TodosPartialUpdateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, data, options: operationOptions },
      partialUpdateOperationSpec
    ) as Promise<TodosPartialUpdateResponse>;
  }

  /**
   * @param id A unique integer value identifying this todo.
   * @param options The options parameters.
   */
  delete(
    id: number,
    options?: coreHttp.OperationOptions
  ): Promise<coreHttp.RestResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      deleteOperationSpec
    ) as Promise<coreHttp.RestResponse>;
  }
}
// Operation Specifications

const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const listOperationSpec: coreHttp.OperationSpec = {
  path: "/todos/",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "Todo" } }
        }
      }
    }
  },
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreHttp.OperationSpec = {
  path: "/todos/",
  httpMethod: "POST",
  responses: {
    201: {
      bodyMapper: Mappers.Todo
    }
  },
  requestBody: Parameters.data3,
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const readOperationSpec: coreHttp.OperationSpec = {
  path: "/todos/{id}/",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Todo
    }
  },
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreHttp.OperationSpec = {
  path: "/todos/{id}/",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Todo
    }
  },
  requestBody: Parameters.data3,
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const partialUpdateOperationSpec: coreHttp.OperationSpec = {
  path: "/todos/{id}/",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.Todo
    }
  },
  requestBody: Parameters.data3,
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.contentType, Parameters.accept1],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreHttp.OperationSpec = {
  path: "/todos/{id}/",
  httpMethod: "DELETE",
  responses: { 204: {} },
  urlParameters: [Parameters.$host, Parameters.id],
  serializer
};
